#root {
    font-family: 'Boogaloo', cursive;
}

* {
    margin: 0;
    padding: 0;
}

.root-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 0 0;
    width: 100%;
}


/* <!-- HTML !-->
<button class="button-74" role="button">Button 74</button> */


button {
    background-color: #fbeee0;
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: black 4px 4px 0 0;
    color: black;
    cursor: pointer;
    /* display: inline-block; */
    /* font-weight: 600; */
    font-size: 16px;
    padding: 0;
    padding-bottom: 1px;
    /* line-height: 50px; */
    /* text-align: center; */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: auto;
    width: auto;
    font-family: 'Boogaloo', cursive;
}

button:hover {
    background-color: #e07a5f;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    button {
        min-width: 50px;
    }
}
