.selected {
    background-color: #f38d71;
    height: 100%;
}

.today {
    background-color: #F2CC8F;
    height: 100%;
}

.before {
    color: lightgrey;
    height: 100%;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    padding: 20px 120px 0 120px;
    justify-content: space-between;
    height: 60px;
    background-color: #f4f1de;
    color: black;
}

.previous,
.next :hover {
    cursor: pointer;
}

.previous,
.next {
    height: 100%;
}

.current {
    font-size: 30px;
}

.dayNames {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 30px;
    /* justify-content: space-around; */
    height: fit-content;
    background-color: #f4f1de;
}

.dayNames p {
    margin: 0 31.6px;
}
