.navlink {
    text-decoration: none;
    color: black;
    padding: 0 3px;
    cursor: pointer;
}

.navbar {
    height: 35px;
    margin: 12px 15px 0px 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
